<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReservAI - Login</title>
  <link rel="icon" type="image/x-icon" href="static/Images/ReservAiLogo.png" />
  <link rel="stylesheet" href="static/estilos/Styles.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <div class="logo">
        <img src="static/Images/ReservAiLogo.png" alt="ReservAI Logo">
        <h1>ReservAI</h1>
      </div>

      <h2>Iniciar Sesión</h2>

      <!-- Formulario con id para JS -->
      <form id="loginForm">
        <div class="input-group">
          <input type="email" id="email" placeholder="Correo electrónico">
        </div>

        <div class="input-group password-group">
          <input type="password" id="password" placeholder="Contraseña">
          <button type="button" id="togglePasswordBtn" class="toggle-password">
            👁
          </button>
        </div>
        
        <button type="submit" id="loginbtn" class="loginbtn">Ingresar</button> <br><br>

      </form>
      
      <p class="terms">
        Al iniciar sesión aceptas nuestras políticas de privacidad y 
        <a href="#">términos y condiciones</a>.
      </p>
    </div>
  </div>
    <script type="module"  src="static/Scripts/AppStorage.js"></script>
    <script  type="module" src="static/Scripts/Login.js"></script>
</body>
</html>